@model New_Esign.Areas.Employee.Models.FORM_IT_01Model
@using New_Esign.Common;
@using New_Esign.AppCode;
@using System.Data;
@using System.Data.SqlClient;

@{
    ViewBag.Title = "Register Page";
    Layout = "~/Areas/Employee/Views/Shared/Layout_khang.cshtml";
}

<h2>RegisterSigning</h2>

<head>
    <link href="~/Assets/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <style>
        .label-ot {
            background-color: #b46740;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-bottom: 3px;
            padding: .3em .6em .3em;
            font-size: .8em;
            color: white;
            font-weight: bold;
        }

        .label-at {
            background-color: #a36e1a;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-bottom: 3px;
            padding: .3em .6em .3em;
            font-size: .8em;
            color: white;
            font-weight: bold;
        }

        .label-et {
            background-color: #2a4a7c;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-bottom: 3px;
            padding: .3em .6em .3em;
            font-size: .8em;
            color: white;
            font-weight: bold;
        }
    </style>
</head>
<h2 class="text-center" style="color:#4b6bea"> Apply for permissions on the IT system</h2>
@using (Html.BeginForm("RegisterSigning", "RegisterAccount", new { area = "Employee" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    var session = (UserLogin)Session[CommonConstants.USER_SESSION];
    var emp = session.UserID.Trim();

    SQLServerDBHelper db = new SQLServerDBHelper("EsignDB");
    string sqlQuery = @"select * from DATA_APP_ESIGN where APPNO = '" + Model.AppNo + "' ";
    DataTable tb = new DataTable();
    tb = db.DoSQLSelect(sqlQuery);
    string empCheck = "";
    string empCreate = "";
    string empState = " ";
    if (tb.Rows.Count > 0)
    {
        empCheck = tb.Rows[0]["Checkwait"].ToString().Trim();
        empCreate = tb.Rows[0]["USEREMP"].ToString().Trim();
        empState = tb.Rows[0]["APPSTATUS"].ToString().Trim();
    }



    
    //string link = Model.filePath;
    //string[] linkQ = link.Split('.');
    @Html.TextBoxFor(m => m.AppNo, "", new { style = "display: none;" })
<div class="form-group row">
    <div class="col-md-4">
        <span class="label label-in"> <i class="metismenu-icon pe-7s-ticket icon_ct"></i>  @LanguageHelper.GetResource("yellow.OrderNo"): @Model.AppNo </span>
        @*@Html.TextBoxFor(model => model.AppNo, "", new { @class = "form-control", @readonly = "readonly" })*@
    </div>

</div>
<label class="label label-in label-info label-group-info"> @LanguageHelper.GetResource("yellow.inforUser")</label>
<div class="groupInfo">

    <div class="form-group row">
        <div class="col-md-4">
            <span class="label label-in"> <i class="metismenu-icon pe-7s-user icon_ct"></i> @LanguageHelper.GetResource("Register.EmployeeNO") :</span> <span style="color:red">*</span>
            @Html.TextBoxFor(model => model.empID, "", new { @class = "form-control" })
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4 col-md-offset-2">
            <span class="label label-in"> <i class="metismenu-icon pe-7s-users icon_ct"></i>@LanguageHelper.GetResource("yellow.Name"):</span> <span style="color:red">*</span>
            @Html.TextBoxFor(model => model.empName, "", new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="clear"></div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <span class="label label-in"><i class="metismenu-icon pe-7s-mail icon_ct"></i> @LanguageHelper.GetResource("Register.E-Mail"):</span> <span style="color:red">*</span>
            @Html.TextBoxFor(model => model.Title1Content, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title1Content, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4 col-md-offset-2">
            <span class="label label-in"><i class="metismenu-icon pe-7s-phone icon_ct"></i>@LanguageHelper.GetResource("Register.Telephone"):</span> <span style="color:red">*</span>
            @Html.TextBoxFor(model => model.Title2Content, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title2Content, "", new { @class = "text-danger" })
        </div>
        <div class="clear"></div>
    </div>
    <div class="form-group row">
        <div class="col-md-5">
            <span class="label label-in"><i class="metismenu-icon pe-7s-ticket icon_ct"></i>@LanguageHelper.GetResource("Register.Department"):</span> <span style="color:red">*</span>
            @Html.TextBoxFor(model => model.Title3Content, "", new { @class = "form-control", @readonly = "readonly" })

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 col-md-offset-1">
            <span class="label label-in"><i class="metismenu-icon pe-7s-loop icon_ct"></i>@LanguageHelper.GetResource("Register.CostNO"):</span> <span style="color:red">*</span>
            @Html.TextBoxFor(model => model.Title6, "", new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="clear"></div>
    </div>
    <div class="form-group row">
        @*<div class="col-md-2">
                <span class="label label-in"> <i class="metismenu-icon pe-7s-edit icon_ct"></i> Site :</span> <span style="color:red">*</span>
                @Html.DropDownListFor(model => model.Site, null, new { @class = "dropdown form-control btn btn-light" })
                @Html.ValidationMessageFor(model => model.Site, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <span class="label label-in"> <i class="metismenu-icon pe-7s-box1 icon_ct"></i> BU :</span> <span style="color:red">*</span>
                @Html.DropDownListFor(model => model.BU, new SelectList(""), new { @class = "dropdown form-control btn btn-light" })
                @Html.ValidationMessageFor(model => model.BU, "", new { @class = "text-danger" })
            </div>*@
        <div class="col-md-3">
            <span class="label label-in"> <i class="metismenu-icon pe-7s-home icon_ct"></i>@LanguageHelper.GetResource("yellow.Factory"):</span> <span style="color:red">*</span>
            @Html.TextBoxFor(model => model.Title14Content, "", new { @class = "form-control", @readonly = "readonly" })
            @*@Html.ValidationMessageFor(model => model.Title14Content, "", new { @class = "text-danger" })*@
            @*<div class="text-danger"> <label> Choose your factory office</label></div>*@
        </div>
        <div class="col-md-3"></div>

        <div class="col-md-2">
            @*<div class="col-md-5 col-md-offset-2">
                    <span class="label label-et"><i class="metismenu-icon pe-7s-map-marker icon_ct"></i>  @LanguageHelper.GetResource("yellow.LocApp"):</span> <span style="color:red">*</span>
                    @Html.HiddenFor(model => model.Title5Content)
                    <div>
                        <select id="sl2" class="my_select_box form-control" multiple data-placeholder="@LanguageHelper.GetResource("yellow.LocApp")"></select>
                    </div>
                </div>*@
            @*<div class="clear"></div>*@
            <span class="label label-in"><i class="metismenu-icon pe-7s-map-marker icon_ct"></i>@LanguageHelper.GetResource("yellow.location"):</span> <span style="color:red">*</span>
            @Html.TextBoxFor(model => model.Title5Content, "", new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Title5Content, "", new { @class = "text-danger" })
        </div>
        <div class="clear"></div>
    </div>
</div>
<label class="label label-in label-info label-group-info"> @LanguageHelper.GetResource("yellow.Detail")</label>
<div class="groupInfo">

    <div class="form-group row">
        <label class="label label-at">  @*@LanguageHelper.GetResource("yellow.USBT")*@ @LanguageHelper.GetResource("sft.system"):</label>
        <div class="col-md-12 row form-group">
            <div class="col-md-5">
                @Html.RadioButtonFor(model => model.Title15Content, "PC InOut System/GoodsOut", new { @disabled = "disabled" })
                <label>&nbsp; PC InOut/ Goods Out system</label>
            </div>
            <div class="col-md-5">
                @Html.RadioButtonFor(model => model.Title15Content, "Esign system 2.0" , new { @disabled = "disabled" })
                <label>&nbsp; Esign system 2.0</label>
            </div>
        </div>
        @*@Html.TextBoxFor(model => model.ComputerName, "", new { @class = "form-control col-md-8" })
            @Html.TextBoxFor(model => model.IPAdd, "", new { @class = "form-control col-md-8" })*@
    </div>
    @if (!Model.Title15Content.Contains("Esign system 2.0"))
    {
        <div id="plUSB" name="plUSB">
            <label class="label label-at"> Role type @*@LanguageHelper.GetResource("sft.system")*@</label>
            <div class="groupInfo">
                <div class="col-md-12 row form-group">
                    <div class="col-md-5">
                        @Html.CheckBoxFor(model => model.role1)
                        <label>&nbsp; EHS</label>
                    </div>
                    <div class="col-md-5">
                        @Html.CheckBoxFor(model => model.role2)
                        <label>&nbsp; Security TW</label>
                    </div>
                    <div class="col-md-5">
                        @Html.CheckBoxFor(model => model.role3)
                        <label>&nbsp; IT Employee</label>
                    </div>
                    <div class="col-md-5">
                        @Html.CheckBoxFor(model => model.role4)
                        <label>&nbsp; IT Manager</label>
                    </div>
                </div>
                @*@Html.TextBoxFor(model => model.ComputerName, "", new { @class = "form-control col-md-8" })
                    @Html.TextBoxFor(model => model.IPAdd, "", new { @class = "form-control col-md-8" })*@
            </div>
        </div>
    }
    else
    {       
        <div id="plYellowCard" name="plYellowCard">
            <label class="label label-et label-info label-group-info"> Role type @*@LanguageHelper.GetResource("yellow.cardForm")*@</label>
            <div class="groupInfo">
                <div class="form-group row">
                    <label class="col-md-2">
                        <span class="label label-et"><i class="metismenu-icon pe-7s-box1 icon_ct"></i> Role type @*@LanguageHelper.GetResource("yellow.PCtype")*@:</span> <span style="color:red">*</span>
                    </label>

                    <div class="form-group col-md-10 row">
                        <div class="col-md-5">

                            @Html.CheckBoxFor(m => m.role11, new { @disabled = "disabled" })

                            <label>&nbsp; User</label>
                        </div>
                        <div class="col-md-5">
                            @Html.CheckBoxFor(m => m.role12, new { @disabled = "disabled" })
                            <label>&nbsp; Management user</label>
                        </div>
                        <div class="col-md-5">
                            @Html.CheckBoxFor(m => m.role13, new { @disabled = "disabled" })
                            <label>&nbsp; IT Employee</label>
                        </div>
                        <div class="col-md-5">
                           @Html.CheckBoxFor(m => m.role14, new { @disabled = "disabled" })
                            <label>&nbsp; IT Manager</label>
                        </div>
                    </div>
                    <div class="clear">
                        @Html.ValidationMessageFor(model => model.Title3, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @*<div class="col-md-5">
                            <span class="label label-et"> <i class="metismenu-icon pe-7s-note2 icon_ct"></i>  @LanguageHelper.GetResource("yellow.Brand"):</span> <span style="color:red">*</span>
                            @Html.TextBoxFor(model => model.Title4, "", new { @class = "form-control" })

                        </div>
                        <div class="col-md-5 col-md-offset-2">
                            <span class="label label-et"> <i class="metismenu-icon pe-7s-bandaid icon_ct"></i> @LanguageHelper.GetResource("yellow.Spec"):</span> <span style="color:red">*</span>
                            @Html.TextBoxFor(model => model.Title5, "", new { @class = "form-control" })

                        </div>*@
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    }

</div>
<div class="container card" style="margin-top: 20px;">
    @if (emp == empCheck && emp != empCreate && empState != "申請人 / Người xin đơn")
    {
        <div class="form-group row">
            <div class="col-md-12">
                <label style="color:red;margin-top:10px" class="label"><h5> @LanguageHelper.GetResource("yellow.note"):</h5> </label>
                @Html.TextAreaFor(m => m.AppContent, 10, 20, new { @class = "form-control col-md-12" })
            </div>

        </div>
        <div class="form-group row">
            <div class="col-md-1"></div>

            <button name="ApprovalButton" type="submit" class="col-md-2 btn btn-outline-success col-sm-2 col-md-2 col-lg-2" value="Approval">@LanguageHelper.GetResource("yellow.Approval")</button>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>

            <a href="@Url.Action("WaitingForYourApproval", "APP_ESIGN", new { area = "Employee" })" class="btn btn-outline-primary col-sm-2 col-md-2 col-lg-2">@LanguageHelper.GetResource("yellow.Return")</a>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>

            <button name="ApprovalButton" type="submit" class="col-md-2 btn btn-outline-danger col-sm-2 col-md-2 col-lg-2" value="Reject">@LanguageHelper.GetResource("yellow.Reject")</button>

            <div class="col-md-1"></div>
        </div>
    }
    else
    {
        <div class="form-group row" style="padding-bottom:20px">
            <div class="col-md-5"></div>
            <a href="@Url.Action("WaitingForYourApproval", "APP_ESIGN", new { area = "Employee" })" class="btn btn-outline-primary col-sm-2 col-md-2 col-lg-2">@LanguageHelper.GetResource("yellow.Return")</a>
            <div class="col-md-5"></div>
        </div>
    }


    <table class="table">
        <thead>
            <tr>
                <th> @LanguageHelper.GetResource("No")</th>
                <th> @LanguageHelper.GetResource("yellow.signtype")</th>
                <th> @LanguageHelper.GetResource("yellow.Name")</th>
                <th> @LanguageHelper.GetResource("yellow.status")</th>
                <th> @LanguageHelper.GetResource("yellow.note")</th>
                <th> @LanguageHelper.GetResource("yellow.Time")</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.approvalApps.Count; i++)
            {
                <tr>
                    <td>@Model.approvalApps[i].step</td>
                    <td>@Model.approvalApps[i].statusName</td>
                    <td>@Html.TextBoxFor(m => m.approvalApps[i].SignName, new { @class = "form-control", @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(m => m.approvalApps[i].status, new { @class = "form-control", @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(m => m.approvalApps[i].approvalsuggest, new { @class = "form-control", @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(m => m.approvalApps[i].approvaltime, new { @class = "form-control", @readonly = "readonly" })</td>

                </tr>
            }

        </tbody>

    </table>
</div>



}

