@model New_Esign.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<h2>@ViewBag.Title.</h2>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Esign - Register</title>
    <!-- Custom fonts for this template-->
    <link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Assets/css/sb-admin.css" rel="stylesheet">
    <link href="~/Assets/css/backgroud-img.css" rel="stylesheet" />
</head>
<body class="bg-success big-banner">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-body">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Create a new account.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="inputEmail">Account</label>
                        <div class="form-label-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @autofocus = "autofocus" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <div class="form-label-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Confirm Password</label>
                        <div class="form-label-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-primary btn-block text-center" type="submit">Register</button>
                        </div>
                    </div>
                }
            </div>
            @*<div class="col-md-4">
                    <section id="socialLoginForm">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </div>*@
        </div>
    </div>
    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Assets/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}}
